// This partial is used for showing a menu of things to administer (users, tweets, whatever)
// If a user loads http://example.com/admin, then the /front/admin/adminLayout.jade
// file is rendered, and this file is preloaded into it.
