// When a user visits http://example.com/, if `front/layout.jade` exists, it's rendered
// and returned to the browser.
// If this file (front/index.jade) exists, then when a user visits http://example.com/
// it will be preloaded into layout.jade when it's rendered.
