// This partial is used for showing list of users in the admin interface
// If a user loads http://example.com/admin/users, then the /front/admin/_adminLayout.jade
// file is rendered, and this file is preloaded into it.
